<div class="container mt-5">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Email</th>
            <th scope="col">Number</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td">{{viewAll?._id}}</td>
            <td class="td">{{viewAll?.name}}</td>
            <td class="td">{{viewAll?.age}}</td>
            <td class="td">{{viewAll?.email}}</td>
            <td class="td">{{viewAll?.number}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>